{
  "extends": [ "@antfu" ],
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": [ "error", "always" ],
    "curly": [ "error", "all" ],
    "@typescript-eslint/brace-style": [ "error", "1tbs" ]
  },
  "overrides": [
    {
      "files": [ "**/*.ts" ],
      "rules": {
        "curly": "error"
      }
    }
  ],
  "ignorePatterns": [ "snapsvg", "grammar.js" ]
}
